/* Universal Settings */
body{
  background-color: #FFFFFF;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
section{
  padding: 40px 0;
}
h1{
  border-bottom: 4px solid #C6EEE2;
  color: #282828;
  display: block;
  font-family: minerva-modern;
  font-size: 48px;
  line-height: 138%;
  margin: 0 auto;
  text-align: center;
  width: 79.71%;
}
h2{
  color: #282828;
  display: block;
  font-family: minerva-modern;
  font-size: 32px;
  font-weight: bold;
  line-height: 138%;
  margin: 0 auto 24px auto;
  text-align: center;
  width: 79.71%;
}
h3{
  color: #282828;
  display: block;
  font-family: minerva-modern;
  font-size: 26px;
  line-height: 138%;
  margin: 0 auto;
  text-align: center;
  width: 79.71%;
}
h4{
  color: #282828;
  display: block;
  font-family: open-sans;
  font-size: 22px;
  line-height: 159%;
  margin: 0 auto 16px auto;
  text-align: center;
  width: 79.71%;
}
img {
  height: auto;
  width: 100%;
}
.button{
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: minerva-modern;
  font-size: 18px;
  height: 26px;
  line-height: 138%;
  margin: 0 auto;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  width: 228px;
}
.body1{
  color: #282828;
  font-family: open-sans;
  font-size: 20px;
  line-height: 145%;
  text-align: left;
}
.body2{
  color: #282828;
  display: block;
  font-family: open-sans;
  font-size: 16px;
  line-height: 137.99%;
  margin: 0 auto;
  text-align: left;
  width: 79.71%;
}
.caption{
  display: block;
  font-family: open-sans;
  font-size: 14px;
  line-height: 136%;
  margin: 0 auto;
  text-align: center;
  width: 79.71%;
}
.desktop{
  display:none;
}
/* Navbar */
#mainnav {
  background-color: #757575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  height: 56px;
  padding: 8px 8% 16px 8%;
  position: static;
  top: 0;
  width: 100%;
  z-index: 300;
}
#mainnav a {
  color: #FFFFFF;
  display: block;
  float: right;
  font-family: open-sans;
  font-size: 16px;
  height: 30px;
  line-height: 219%;
  text-decoration: none;
  width: 9.76%;
}
#mainnav a:nth-child(1) {
  float: left;
  width: 170px;
}
#mainnav a:not(:first-child) {
  display: none;
}
#mainnav a.icon {
  display: block;
  float: right;
  font-size: 32px;
  line-height: 100%;
  margin: 0;
  text-align: center;
}
#mainnav.responsive {
  height: auto;
  position: relative;
}
#mainnav.responsive a.icon {
  padding: 8px 8% 16px 8%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
#mainnav.responsive a {
  display: block;
  float: none;
  text-align: left;
}
/* Footer */
#footer{
  background-color: #757575;
  padding: 0;
}
#footer > img{
  display: block;
  margin: 0 auto 24px auto;
  padding-top: 40px;
  width: 295px;
}
#footer p{
  color: #FFFFFF;
  text-align: center;
}
#footer .body1{
  margin: 0 auto;
  width: 48.71%;
}
#footer div{
  display: flex;
  justify-content: space-between;
  margin: 32px auto 24px auto;
  max-width: 267px;
  width: 64.49%;
}
#footer div a{
  text-align: center;
}
#footer .caption{
  font-size: 12px;
  padding-bottom: 8px;
}
/* Home Page */
/* Opening Screen */
#hello{
  background-image: url("../Images/Homepage_image.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  height: 207px;
  max-height: 207px;
  min-height: auto;
}
#hello h5{
  color: #282828;
  font-family: minerva-modern;
  font-size: 36px;
  line-height: 138%;
  padding: 6vh 0 16px 50%;
  width: 170px;
}
#hello h4{
  padding-left: 50%;
  width: 46.92%;
}
/* Cloud Collab Description */
#cc{
  background-color: #757575;
}
#cc img:nth-of-type(1){
  display: block;
  margin: 0 auto;
  width: 79.1%;
}
#cc img:nth-of-type(2){
  display: block;
  margin: 0 auto;
  width: 84.54%
}
#cc .body2{
  color: #FFFFFF;
}
#cc .button{
  background-color: #C6EEE2;
  color: #757575;
  display: block;
  margin: 24px auto 0 auto;
}
/* Lets Get Personal */
#personal .mobile{
  display: flex;
  flex-wrap: wrap;
}
#personal .mobile div{
  width: 50%;
}
#personal img{
  height: 100%;
  margin-left: 32px;
  max-width: 84%;
}
#personal h2{
  font-size: 22px;
  margin-top: 50%;
  width: 89.29%;
}
#personal .button{
  background-color: #757575;
  color: #FFFFFF;
  display: block;
  margin: 24px auto 16px auto;
}
#personal .body2{
  margin: 22px auto;
  text-align: center;
  width: 95.65%;
}
/* About Page */
/* Opening Screen */
#intro{
  background-image: url("../Images/about_header.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 122px;
  margin-top: 0;
  padding: 0;
}
#intro h5{
  color: #282828;
  font-family: minerva-modern;
  font-size: 24px;
  line-height: 138%;
  padding-top: 8%;
  text-align: center;
}
#intro h4{
  font-size: 14px;
}
/* Bio */
#about{
  padding: 24px 0;
}
#about h2{
  font-size: 22px;
  margin: 0 10%;
}
#about img{
  display: block;
  margin: 45px auto;
  max-width: 72.46%;
}
#about .body2{
  margin-bottom: 29px;
}
/* Projects Page */
/* Opening Image */
img[alt="Hero Image"]{
  max-height: 174px;
}
/* Cloud Collab Introduction */
#cloudCollab img{
  display: block;
  margin: 0 auto;
  max-height: 82px;
  width: 17%;
}
#cloudCollab img[alt="Cloud Collab script"]{
  width: 52.9%;
}
#cloudCollab nav{
  border-bottom: 4px solid #C6EEE2;
  height: 41.85px;
  margin: 56px auto 0px auto;
  text-align: center;
  width: 95.41%;
}
#cloudCollab nav a{
  color: #282828;
  font-family: open-sans;
  font-size: 14px;
  line-height: 19px;
  margin: 0px 1.18%;
  text-align: center;
  text-decoration: none;
}
#cloudCollab nav a:hover {
  text-decoration: underline;
}
#cloudCollab h3{
  font-size: 18px;
  margin: 24px auto 16px auto;
}
#cloudCollab .button{
  background-color: #C6EEE2;
  color: #757575;
  font-weight: bold;
  margin-bottom: 24px;
}
#roles{
  display: block;
}
#roles article{
  display: inline-block;
  margin-bottom: 56px;
  width: 100%;
}
#roles img{
  max-width: 126px;
}
#roles article h2{
  font-size: 28px;
  margin-bottom: 8px;
  margin-top: 24px;
}
#roles ul{
  color: #282828;
  font-family: open-sans;
  font-size: 20px;
  line-height: 35px;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
/* The Challenge */
#challenge{
  background-image: url("../Images/Challenge_Background_mobile.png");
  background-size: cover;
  height: 522px;
}
#challenge p{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  padding-bottom: 16px;
  padding-top: 24px;
  text-align: center;
}
#challenge h3{
  color: #FFFFFF;
  font-size: 22px;
  text-align: left;
}
/* Solution */
#solution h2{
  margin-bottom: 0;
}
#solution img{
  display: block;
  margin: 0 auto;
  width: 79.1%;
}
#solution .body2{
  margin-top: 16px;
}
/* User Research */
#userResearch{
  background-color: #757575;
  padding-bottom: 0;
}
#userResearch h4, #userResearch h2{
  color: #FFFFFF;
}
#userResearch article img{
  display: block;
  margin: 0 auto;
  width: 60.39%;
}
#userResearch article img + p:nth-of-type(1){
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 24px;
  text-align: center;
}
#forms{
  color: #FFFFFF;
  display: block;
  font-family: open-sans;
  font-size: 20px;
  margin: 0 auto 24px auto;
  line-height: 29px;
  width: 79.71%;
}
#userResearch ul{
  color: #FFFFFF;
  display: block;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  list-style-type: initial;
  margin: 0 auto;
  width: 79.71%;
}
#userResearch li{
  margin: 0 0 20px 24px;
}
#userResearch li:nth-of-type(3){
  margin-bottom: 8px;
}
#userResearch > img{
  display: block;
  height: 75px;
  margin: 0 auto;
  padding-bottom: 8px;
  width: 75px;
}
#userResearch a{
  color: #FFFFFF;
}
/* Statistics */
#stats{
  background-color: #C6EEE2;
}
#stats h4{
  margin-bottom: 16px;
}
#stats div{
  display: flex;
  flex-wrap: wrap;
  margin: 0 24px;
}
#stats p{
  margin-top: 50px;
}
#stats p:nth-of-type(odd){
  color: #282828;
  display: inline;
  font-family: minerva-modern;
  font-size: 32px;
  font-weight: bold;
  line-height: 138%;
  margin-right: 16px;
  width: 18.84%;
}
#stats p:nth-of-type(even){
  color: #282828;
  display: inline;
  font-family: minerva-modern;
  font-size: 22px;
  line-height: 138%;
  width: 73%;
}
#stats article:nth-of-type(2) h4{
  margin: 32px auto 24px auto;
}
#stats .first{
  margin-top: 0;
}
#stats .button{
  color: #FFFFFF;
  background: #757575;
  margin: 32px auto 0 auto;
}
/* Competitive Analysis */
#competitive h2{
  margin-bottom: 0;
}
#competitive img{
  display: block;
  margin: 0 auto;
  width: 78.63%;
}
#competitive p{
  color: #282828;
  display: block;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin: 0 auto 29px auto;
  width: 79.71%;
}
#competitive ul{
  display: block;
  list-style-type: initial;
  margin: 0 auto;
  width: 79.71%;
}
#competitive li{
  color: #282828;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin: 0 0 29px 24px;
}
#competitive a{
  color: #282828;
}
/* User Personas */
#personas{
  background-color: #757575;
}
#personas h4{
  color: #FFFFFF;
  margin-bottom: 24px;
}
#personas h2{
  color: #FFFFFF;
}
#personas img{
  display: block;
  margin: 60px auto 0 auto;
  width: 150px;
}
#personas h3{
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 16px;
}
#personas article h4{
  color: #FFFFFF;
  margin-bottom: 0;
}
#personas h6{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 20px;
  text-align: center;
}
#personas h6:nth-of-type(2){
  margin-top: 30px;
}
#personas p{
  color: #FFFFFF;
}
#personas .button{
  color: #757575;
  background-color: #C6EEE2;
  font-weight: bold;
  margin-top: 56px;
}
/* User Stories */
table{
  border-collapse: collapse;
  margin: 32px auto 0 auto;
  width: 79.71%;
}
th{
  color: #282828;
  background-color: #C6EEE2;
  font-family: minerva-modern;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  padding: 8px;
}
table .caption{
  display: table-cell;
}
/* User Flows */
#flows{
  background-color: #757575;
}
#flows h4, #flows h2{
  color: #FFFFFF;
}
#flows .body2{
  color: #FFFFFF;
}
#flows .caption{
  color: #FFFFFF;
}
#flows img{
  display: block;
  margin: 0 auto;
}
/* Wireframes */
#wireframes{
  background-image: url("../Images/wireframe_background_mobile.png");
  background-size: 100%;
  padding-bottom: 8px;
}
#wireframes img{
  display: block;
  margin: 0 auto;
  width: auto;
}
#wireframes a{
  color: #282828;
}
#wireframes h4{
  margin-bottom: 16px;
}
/* Branding */
#branding img{
  display: block;
  margin: 0 auto 16px auto;
  width: 84.54%;
}
#branding .caption{
  margin-bottom: 24px;
}
#branding .body2{
  margin-bottom: 60px;
}
#branding h4{
  margin: 40px auto 16px auto;
}
#branding p:nth-of-type(3){
  margin: 16px auto 24px auto;
}
#branding .button{
  color: #757575;
  background: #C6EEE2;
  font-weight: bold;
}
/* Brand Name */
#brandName{
  background-color: #C6EEE2;
  padding: 40px 0;
}
#brandName img{
  display: block;
  width: 82.60%;
  margin: 0 auto 24px auto;
}
/* Moodboard */
#mood{
  background-color: #757575;
}
#mood img{
  display: block;
  margin: 0 auto 40px auto;
  width: 250px;
}
#mood h4, #mood h2{
  color: #FFFFFF;
}
#mood .body2{
  color: #FFFFFF;
  text-align: center;
}
/* Logo */
#logo img{
  display: block;
  margin: 0 auto 24px auto;
  width: 72.46%;
}
#logo .body2:nth-of-type(1){
  margin-bottom: 29px;
}
/* Color Palette */
#color{
  background-color: #757575;
}
#color h4{
  color: #FFFFFF;
  text-align: center;
}
#color h2{
  color: #FFFFFF;
  margin-bottom: 0;
}
#color img{
  display: block;
  margin: 48px auto 40px auto;
  width: 61.11%;
}
#color p{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin: 0 auto;
  text-align: center;
  width: 73.29%;
}
/* Typography */
#type h4{
  text-align: center;
}
#type h2{
  text-align: center;
}
#type .body2{
  margin: 0 auto 32px auto;
  text-align: center;
  width: 66.1%;
}
#type img{
  display: block;
  margin: 0 auto;
  width: 84.54%;
}
#type h1{
  margin-top: 80px;
}
/* Iterations to Deliverables */
#deliver{
  background-image: url("../Images/Visual_Design_Background_mobile.png");
  background-size: cover;
  max-height: 641px;
}
#deliver h5{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 36px;
  font-weight: bold;
  line-height: 138%;
  margin: 0 auto 24px auto;
  text-align: center;
  width: 79.71%;
}
#deliver .body2{
  color: #FFFFFF;
  margin-bottom: 32px;
}
#deliver .button{
  background-color: #C6EEE2;
  color: #282828;
}
/* Sales Landing Page */
#landing > img{
  display: block;
  margin: 0 auto;
  width: 84.54%;
}
#landing div article div{
  margin: 40px auto 20px auto;
  text-align: center;
  width: 70%;
}
#landing article img{
  width: 40px;
}
#landing div h2{
  display: inline;
  vertical-align: top;
}
#landing .body2{
  text-align: center;
  width: 72.1%;
}
/* Dashboard */
#dash{
  background-color: #757575;
}
#dash h4, #dash h2, #dash .body2{
  color: #FFFFFF;
}
#dash > img{
  display: block;
  margin: 0 auto;
  width: 84.54%;
}
#dash div article div{
  margin: 40px auto 20px auto;
  text-align: center;
  width: 70%;
}
#dash article img{
  width: 40px;
}
#dash div h2{
  display: inline;
  vertical-align: top;
}
#dash .body2{
  text-align: center;
  width: 72.1%;
}
/* Modifying Modal Screens */
#modal > img{
  display: block;
  margin: 0 auto;
  width: 84.54%;
}
#modal div article div{
  margin: 40px auto 20px auto;
  text-align: center;
  width: 70%;
}
#modal article img{
  width: 40px;
}
#modal div h2{
  display: inline;
  vertical-align: top;
}
#modal .body2{
  text-align: center;
  width: 72.1%;
}
/* Conclusion */
#conclusion{
  background-color: #C6EEE2;
}
#conclusion p:nth-of-type(1){
  margin-bottom: 22px;
}
/* Tablet Specific */
/* Body1 Styles */
#personal .body1{
  width: 89.11%;
}
#about .body1{
  margin-bottom: 29px;
  width: 90.77%;
}
#solution .body1{
  width: 80.83%;
}
#stories .body1{
  margin: 0 auto 24px auto;
  text-align: center;
  width: 66.02%;
}
#flows .body1{
  color: #FFFFFF;
  margin: 0 auto;
  width: 66.10%;
}
#wireframes .body1{
  margin: 0 auto;
  padding-bottom: 112px;
  width: 65.86%;
}
#branding .body1{
  margin: 16px auto 112px auto;
  width: 66.01%;
}
#brandName .body1{
  width: 95.75%;
}
#mood .body1{
  color: #FFFFFF;
  width: 81.44%;
}
#logo .body1:nth-of-type(1){
  margin-bottom: 29px;
}
#type .body1{
  margin: 0 auto 32px auto;
  text-align: left;
  width: 66.1%;
}
#deliver .body1{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 26px;
  line-height: 138%;
  margin: 0 auto 40px auto;
  width: 66.09%;
}
#landing .body1{
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#dash .body1{
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#modal .body1{
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#conclusion .body1{
  width: 98.34%;
}
/* Tablet Media Query */
@media screen and (min-width: 600px){
  /* Universal Styles */
  section{
    padding: 56px 0;
  }
  h1{
    font-size: 50px;
    width: 65.94%;
  }
  h2{
    text-align: left;
  }
  h3{
    text-align: left;
  }
  h4{
    text-align: left;
  }
  .desktop{
    display: block;
  }
  .mobile{
    display: none;
  }
  .desktop div{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
  }
  /* Navbar */
  #mainnav{
    height: auto;
    position: fixed;
  }
  #mainnav a:not(:first-child) {
    display: block;
  }
  #mainnav a.icon {
    display: none;
  }
  .home{
    margin-left: 0;
  }
  /* Footer */
  #footer div{
    max-width: auto;
    width: 20.8%;
  }
  #footer .caption{
    font-size: 14px;
  }
  /* Home Page */
  /* Opening Image */
  #hello{
    height: 400px;
    max-height: none;
  }
  #hello h5{
    font-size: 72px;
    padding: 4% 0 16px 50%;
    position: relative;
    top: 55%;
    transform: translateY(-55%);
    width: auto;
  }
  #hello h4.desktop{
    display: none;
  }
  #hello .desktop{
    display: block;
    margin: 0;
  }
  section.mobile{
    display: block;
    padding: 40px;
  }
  /* Cloud Collab Description */
  #cc{
    display: flex;
    padding: 56px 0;
  }
  #cc article{
    width: 50%;
  }
  #cc article:nth-of-type(3){
    display: flex;
  }
  #cc img[alt="Cloud Collab logo"]{
    margin: 0 16.17% 24px 16.17%;
    width: 39.44%;
  }
  #cc .body1{
    color: #FFFFFF;
    margin: 0 auto;
    width: 67.65%
  }
  #cc .caption{
    color: #FFFFFF;
    display: block;
    margin: 14px auto 32px auto;
    text-align: left;
    width: 67.65%
  }
  #cc .button{
    margin: 0 16.17%;
  }
  #cc img[alt="Cloud Collab Mockup"]{
    align-self: center;
    width: 96.67%;
  }
  /* Lets Get Personal */
  #personal{
    padding: 56px 0;
  }
  #personal .mobile{
    display: none;
  }
  #personal .desktop{
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    padding: 0;
  }
  #personal .desktop div{
    width: 50%;
  }
  #personal img{
    margin-left: 12.22%;
    width: 72%;
  }
  #personal h2{
    font-size: 32px;
    margin: 0 0 32px 0;
    text-align: left;
  }
  #personal .button{
    margin: 40px 0;
  }
  /* About Page */
  /* About Opening Image */
  #intro{
    height: auto;
    margin-top: 48px;
    width: 100%;
  }
  #intro h5{
    font-size: 72px;
    position: relative;
    text-align: center;
    transform: translateY(-20%);
  }
  #intro h4{
    font-size: 22px;
    position: relative;
    text-align: center;
    transform: translateY(-150%);
    width: auto;
  }
  /* Biography */
  #about .desktop{
    display: flex;
    padding: 0 8.73% 0 4.68%;
  }
  #about .desktop div{
    width: 50%;
  }
  #about h2{
    font-size: 32px;
    margin: 0 0 32px 0;
    text-align: left;
  }
  #about img{
    margin: 0 auto;
    max-width: none;
  }
  /* Projects Page */
  /* Work Opening Image */
  img[alt="Hero Image"] {
    max-height: none;
  }
  /* Cloud Collab Summary */
  #cloudCollab img[alt="Cloud Collab script"]{
    width: 17%;
  }
  #cloudCollab nav{
    margin-top: 48px;
    width: 65.94%;
  }
  #cloudCollab h3{
    font-size: 26px;
    margin: 32px auto 40px auto;
    width: 65.94%;
  }
  #cloudCollab h2{
    text-align: center;
  }
  #cloudCollab .button{
    margin-bottom: 56px;
  }
  #roles{
    display: flex;
  }
  #roles img{
    max-height: none;
    width: 126px;
  }
  #roles article{
    display: inline-block;
    margin-bottom: 56px;
    width: 33%;
  }
  #roles article h2{
    margin-top: 48px;
  }
  #roles li{
    font-size: 22px;
  }
  .borders{
    border-left: 4px solid #C6EEE2;
    border-right: 4px solid #C6EEE2;
  }
  /* Challenge */
  #challenge{
    background-image: url("../Images/Challenge_Background.png");
  }
  #challenge p{
    font-size: 36px;
    padding-bottom: 24px;
    padding-top: 8%;
  }
  #challenge h3{
    font-size: 26px;
    width: 66.01%;
  }
  /* Solution */
  #solution{
    display: flex;
    flex-flow: column wrap;
    max-height: 500px;
  }
  #solution .desktop{
    display: flex;
  }
  #solution .desktop div{
    width: 50%;
  }
  #solution h2{
    margin: 0 0 24px 0;
  }
  /* User Research */
  #userResearch .desktop{
    display: flex;
  }
  #userResearch div{
    width: 50%;
  }
  /* Statistics */
  #stats{
    display: flex;
    flex-wrap: wrap;
  }
  #stats article{
    width: 50%;
  }
  #stats article div{
    margin: 0 auto;
    width: 80%;
  }
  #stats h4{
    margin-bottom: 24px;
  }
  #stats article:nth-of-type(2) h4{
    margin-top: 0;
  }
  #stats p:nth-of-type(even){
    font-size: 30px;
  }
  #stats article:nth-of-type(2) p:nth-of-type(odd){
    padding-top: 24px;
  }
  /* Competitive Analysis */
  #competitive .desktop{
    display: flex;
  }
  #competitive .desktop div{
    width: 50%;
  }
  #competitive h2{
    margin-bottom: 24px;
  }
  /* User Personas */
  #personas article{
    display: flex;
  }
  #personas article > div{
    width: 33%;
  }
  #personas h4, #personas h3, #personas h2{
    text-align: center;
  }
  /* User Stories */
  #stories h2, #stories h4{
    text-align: center;
  }
  td.caption{
    width: auto;
  }
  /* User Flows */
  #flows h2, #flows h4{
    text-align: center;
  }
  #flows .caption{
    text-align: left;
  }
  /* Wireframes */
  #wireframes{
    background-image: url("../Images/wireframe_background.png");
    background-size: 100% 100%;
  }
  #wireframes h2, #wireframes h4{
    text-align: center;
  }
  /* Branding */
  #branding h2{
    width: 49.1%;
  }
  #branding h2, #branding h4{
    text-align: center;
  }
  #branding h2 + p.body1{
    margin-bottom: 32px;
  }
  /* Brand Name */
  #brandName .desktop{
    display: flex;
  }
  #brandName .desktop div{
    padding: 0 5%;
    width: 50%;
  }
  #brandName h2, #brandName h4{
    text-align: left;
  }
  #brandName h2{
    margin: 0 0 24px 0;
  }
  #brandName h4{
    margin: 0 0 16px 0;
  }
  /* Moodboard */
  #mood .desktop{
    display: flex;
  }
  #mood .desktop div{
    padding: 0 5%;
    width: 50%;
  }
  #mood h2, #mood h4{
    text-align: left;
  }
  #mood h2{
    margin: 0 0 24px 0;
  }
  #mood h4{
    margin: 0 0 16px 0;
  }
  /* Logo */
  #logo img{
    width: 79.1%;
  }
  #logo .desktop{
    display: flex;
  }
  #logo .desktop div{
    padding: 0 5%;
    width: 50%;
  }
  #logo h2, #logo h4{
    text-align: left;
  }
  #logo h2{
    margin: 0 0 24px 0;
  }
  #logo h4{
    margin: 0 0 16px 0;
  }
  /* Color Palette */
  #color h2{
    text-align: center;
  }
  #color article{
    display: flex;
  }
  #color article div{
    width: 33%;
  }
  /* Typography */
  #type img{
    width: 58.53%;
  }
  /* Iterations to Deliverables */
  #deliver{
    background-image: url("../Images/Visual_Design_Background.png");
    max-height: none;
  }
  /* Sales Landing Page */
  #landing h2, #landing h4{
    text-align: center;
  }
  #landing div{
    display: flex;
  }
  #landing div article{
    width: 33%;
  }
  #landing div article div{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  #landing div img{
    height: 40px;
  }
  #landing div h2{
    margin: 0 0 24px 8px;
    width: auto;
  }
  /* Dashboard */
  #dash h2, #dash h4{
    text-align: center;
  }
  #dash div{
    display: flex;
  }
  #dash div article{
    width: 33%;
  }
  #dash div article div{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  #dash div img{
    height: 40px;
  }
  #dash div h2{
    margin: 0 0 24px 8px;
    width: auto;
  }
  /* Modifying Modal Screens*/
  #modal h2, #modal h4{
    text-align: center;
  }
  #modal div{
    display: flex;
  }
  #modal div article{
    width: 33%;
  }
  #modal div article div{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  #modal div img{
    height: 40px;
  }
  #modal div h2{
    margin: 0 0 24px 8px;
    width: auto;
  }
  /* Conclusion */
  #conclusion h2, #conclusion h4{
    text-align: center;
  }
  #conclusion div{
    display: flex;
  }
  #conclusion article{
    padding: 0 7%;
    width: 50%;
  }
}
/* Desktop Specific */
@media screen and (min-width: 1000px){
  /* Univeral Setting */
  section.mobile{
    display: none;
  }
  /* Home Page */
  /* Opening Image */
  #hello{
    height: 650px;
  }
  #hello h5{
    top: 40%;
    transform: translateY(-40%);
  }
  #hello h4.desktop{
    display: block;
    position: relative;
    text-align: left;
    top: 32%;
    transform: translateY(-32%);
  }
  /* Lets Get Personal */
  #personal{
    padding: 0;
  }
  #personal img{
    margin-left: 12.22%;
    width: 64.16%;
  }
  #personal .desktop{
    max-height: none;
  }
  /* Cloud Collab Description */
  #cc img[alt="Cloud Collab logo"]{
    padding-top: 70px;
  }
  /* About Page Opening Screen */
  #intro{
    min-height: 378px;
  }
  #intro h5{
    transform: translateY(20%);
  }
  #intro h4{
    transform: translateY(80%);
  }
  /* Moodboard */
  #mood img{
    margin: 0 auto;
    width: 400px;
  }
}
