/* Universal Settings */
body{
  background-color: #FFFFFF;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}
section{
  padding: 56px 0;
}
h1{
  border-bottom: 4px solid #C6EEE2;
  color: #282828;
  font-family: minerva-modern;
  font-size: 50px;
  line-height: 138%;
  margin: 0 auto;
  text-align: center;
  width: 65.94%;
}
h2{
  color: #282828;
  font-family: minerva-modern;
  font-size: 32px;
  font-weight: bold;
  line-height: 138%;
  margin-bottom: 24px;
  text-align: left;
}
h3{
  color: #282828;
  font-family: minerva-modern;
  font-size: 26px;
  line-height: 138%;
  text-align: left;
}
h4{
  color: #282828;
  font-family: open-sans;
  font-size: 22px;
  line-height: 159%;
  margin-bottom: 16px;
  text-align: left;
}
img {
  width: 100%;
  height: auto;
}
.button{
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: block;
  font-family: minerva-modern;
  font-size: 18px;
  height: 26px;
  line-height: 138%;
  margin: 0 auto;
  padding: 7px 0;
  text-align: center;
  text-decoration: none;
  width: 228px;
}
.body1{
  color: #282828;
  font-family: open-sans;
  font-size: 20px;
  line-height: 145%;
}
.body2{
  color: #282828;
  font-family: open-sans;
  font-size: 16px;
  line-height: 137.99%;
  text-align: center;
}
.caption{
  font-family: open-sans;
  font-size: 14px;
  line-height: 136%;
  text-align: center;
}
.mobile{
  display: none;
}
#mainnav {
  background-color: #757575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 8px 8% 16px 8%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;
}
#mainnav a {
  color: #FFFFFF;
  display: block;
  float: right;
  font-family: open-sans;
  font-size: 16px;
  height: 30px;
  line-height: 219%;
  text-decoration: none;
  width: 9.76%;
}
#mainnav a:nth-child(1) {
  float: left;
  margin-left: 8.17%;
  width: 170px;
}
#mainnav #title{
  margin-left: 0;
}
#mainnav .icon {
  display: none;
}
#footer{
  background-color: #757575;
  padding: 0;
}
#footer > img{
  display: block;
  margin: 0 auto 24px auto;
  padding-top: 40px;
  width: 295px;
}
#footer p{
  color: #FFFFFF;
  text-align: center;
}
#footer .body1{
  width: 48.71%;
  margin: 0 auto;
}
#footer .body2{
  width: 78.99%;
  margin: 0 auto;
}
#footer div{
  display: flex;
  margin: 32px auto 24px auto;
  justify-content: space-between;
  width: 20.8%;
}
#footer div a{
  text-align: center;
}
#footer .caption{
  padding-bottom: 8px;
}
/* Home Page */
#hello{
  background-image: url("Homepage_image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  box-sizing: border-box;
  height: auto;
  max-height: 650px;
}
#hello h5{
  color: #282828;
  font-family: minerva-modern;
  font-size: 72px;
  line-height: 138%;
  padding: 16vh 0 16px 50%;
}
#hello h4{
  padding-left: 50%;
  width: 46.92%;
}
#cc{
  background-color: #757575;
  display: flex;
}
#cc article:nth-child(1){
  margin-left: 8.42%;
  width: 33.83%;
}
#cc article:nth-child(2){
  width: 54.25%;
}
#cc article:nth-child(1) img{
  margin-bottom: 24px;
  margin-top: 72px;
  max-width: 284px;
}
#cc .body1{
  color: #FFFFFF;
  margin-bottom: 16px;
  width: 100%;
}
#cc .body2{
  color: #FFFFFF;
  margin-bottom: 16px;
  width: 100%;
}
#cc .caption{
  color: #FFFFFF;
  margin-bottom: 32px;
  text-align: left;
  width: 60%;
}
#cc .button{
  background-color: #C6EEE2;
  color: #757575;
  margin-left: 0;
}
#personal{
  display: flex;
  padding: 0;
}
#personal article:nth-child(2){
  width: 50%;
  margin-left: 8.18%
}
#personal article:nth-child(1){
  font-size: 0;
  margin-left: 6.94%;
  width: 38.7%;
}
#personal img{
  margin-bottom: 0;
  height: 100%;
}
#personal h2{
  margin-top: 160px;
}
#personal .button{
  background-color: #757575;
  color: #FFFFFF;
  margin-bottom: 40px;
  margin-top: 40px;
}
#personal .body1{
  width: 89.11%;
}
#personal .body2{
  width: 89.11%;
}
/* About Page */
#intro{
  background-image: url("about_header.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 378.53px;
  margin-top: 48px;
}
#intro h5{
  color: #282828;
  font-family: minerva-modern;
  font-size: 72px;
  line-height: 138%;
  padding-left: 40%;
  padding-top: 9%;
}
#intro h4{
  padding-left: 41.4%;
}
#about{
  display: flex;
}
#about article{
  width: 50%;
}
#about article:nth-of-type(1){
  margin-left: 8.73%
}
#about .body1{
  margin-bottom: 29px;
  width: 90.77%;
}
#about .body2{
  margin-bottom: 29px;
  width: 90.77%;
}
#about img{
  display: block;
  margin: 53% auto 25% auto;
}
/* Projects Page */
#mainnav + img{
  height: 542px;
  width: 100%;
}
#cloudCollab img{
  display: block;
  margin: 0 auto;
  max-width: 1063px;
}
#subnav{
  border-bottom: 4px solid #C6EEE2;
  height: 41.85px;
  margin: 56px auto 0px auto;
  text-align: center;
  width: 65.94%;
}
#subnav a{
  color: #282828;
  font-family: open-sans;
  font-size: 14px;
  line-height: 19px;
  margin: 0px 1.18%;
  text-align: center;
}
#subnav a:hover {
  text-decoration: underline;
}
#cloudCollab h3{
  margin: 32px auto 40px auto;
  width: 65.94%;
}
#cloudCollab .button{
  background-color: #C6EEE2;
  color: #757575;
  font-weight: bold;
  margin-bottom: 56px;
}
#roles{
  display: flex;
}
#roles article{
  display: inline-block;
  margin-bottom: 56px;
  width: 33%;
}
#roles img{
  max-width: 126px;
}
#roles article h2{
  margin-top: 48px;
  text-align: center;
}
#roles ul{
  color: #282828;
  font-family: open-sans;
  font-size: 22px;
  line-height: 35px;
  list-style-type: none;
  margin-top: 16px;
  padding: 0;
  text-align: center;
}
.borders{
  border-left: 4px solid #C6EEE2;
  border-right: 4px solid #C6EEE2;
}
#challenge{
  height: 522px;
  background-image: url("Challenge_Background.png");
  background-size: cover;
}
#challenge p{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  padding-bottom: 24px;
  padding-top: 112px;
  text-align: center;
}
#challenge h3{
  color: #FFFFFF;
  margin: 0 auto;
  text-align: left;
  width: 66.01%;
}
#solution{
  display: flex;
}
#solution article:nth-child(1){
  display: inline-block;
  margin: 0;
  position: relative;
  width: 58.53%;
}
#solution img{
  height: 624.3px;
  margin-top: 26px;
  width: 100%;
}
#solution article:nth-child(1) p{
  color: #282828;
  font-family: open-sans;
  font-size: 14px;
  left: 0;
  line-height: 19px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 95%;
  width: 100%;
  z-index: 999;
}
#solution h2{
  margin-top: 128px;
}
#solution article:nth-child(2){
  width: 41.47%;
}
#solution .body1{
  width: 80.83%;
}
#solution .body2{
  width: 80.83%;
}
#userResearch{
  background-color: #757575;
  display: flex;
  flex-wrap: wrap;
}
#userResearch article:nth-child(1){
  margin-left: 8.5%;
  width: 40.37%;
}
#userResearch article:nth-child(2){
  width: 33.98%;
  margin: 0 8.5%;
}
#userResearch h4{
  color: #FFFFFF;
}
#userResearch h2{
  color: #FFFFFF;
}
#userResearch article p{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 20px;
  margin-bottom: 29px;
  line-height: 29px;
}
#userResearch ul{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  list-style-position: inside;
  list-style-type: initial;
}
#userResearch li{
  margin-bottom: 20px;
}
#userResearch li span{
  left: -0.75em;
  position: relative;
}
#userResearch article img{
  display: block;
  height: 490px;
  margin: 0 auto;
  padding-top: 96px;
  width: 100%;
}
#userResearch img+p{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}
#userResearch > img{
  height: 75px;
  margin: 32px auto 0 auto;
  width: 75px;
}
#userResearch a{
  color: #FFFFFF;
}
#stats{
  background-color: #C6EEE2;
  display:flex;
  flex-wrap: wrap;
  padding: 56px 7.56%;
}
#stats article{
  width: 50%;
}
#stats h4{
  margin-bottom: 24px;
}
#stats div{
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;
}
#stats p:nth-child(odd){
  color: #282828;
  font-family: minerva-modern;
  font-size: 32px;
  font-weight: bold;
  line-height: 44px;
  margin-right: 16px;
  margin-top: 24px;
  width: 14.71%;
}
#stats p:nth-child(even){
  color: #282828;
  font-family: minerva-modern;
  font-size: 30px;
  line-height: 41px;
  margin-top: 24px;
  width: 64.89%;
}
#takeaways p:nth-child(even){
  margin-top: 8px;
  width: 74.63%
}
#stats .button{
  color: #FFFFFF;
  background: #757575;
  margin: 56px auto 0 auto;
}
#competitive{
  display: flex;
  justify-content: center;
}
#competitive article{
  width: 50%;
}
#competitive img{
  display: block;
  height: 430px;
  margin: 112px auto 0 auto;
  width: 78.63%;
}
#competitive p{
  color: #282828;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 29px;
  width: 81.9%;
}
#competitive ul{
  list-style-position: inside;
  list-style-type: initial;
}
#competitive li{
  color: #282828;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 29px;
  width: 81.9%;
}
#competitive li span{
  left: -0.75em;
  position: relative;
}
#competitive a{
  color: #282828;
}
#personas{
  background-color: #757575;
  display: flex;
  flex-wrap: wrap;
}
#personas h4{
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}
#personas h2{
  color: #FFFFFF;
  margin-bottom: 40px;
  text-align: center;
  width: 100%;
}
#personas article{
  width: 33%;
}
#personas img{
  display: block;
  margin: 0 auto;
  max-width: 175px;
}
#personas h3{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 30px;
  line-height: 41px;
  margin-top: 16px;
  text-align: center;
}
#personas h4{
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-top: 8px;
  text-align: center;
}
#personas h6{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 24px;
  text-align: center;
}
#personas p{
  color: #FFFFFF;
}
#personas .caption{
  margin: 8px auto 0 auto;
  width: 76.83%;
}
#personas .button{
  color: #757575;
  background-color: #C6EEE2;
  font-weight: bold;
  margin-top: 56px;
}
#stories .body1{
  margin: 0 auto 24px auto;
  text-align: center;
  width: 66.02;
}
#stories h2{
  text-align: center;
}
#stories h4{
  text-align: center;
}
table{
  border-collapse: collapse;
  margin: 0 auto;
}
th{
  color: #282828;
  background-color: #C6EEE2;
  font-family: minerva-modern;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  padding: 8px;
}
#flows{
  background-color: #757575;
}
#flows h4{
  color: #FFFFFF;
  text-align: center;
}
#flows h2{
  color: #FFFFFF;
  text-align: center;
}
#flows p{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin: 0 auto;
  width: 66.01%;
}
#flows img + p{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 14px;
  line-height: 19px;
  margin: 0 auto;
  text-align: left;
}
img[alt="Create Document"]{
  display: block;
  height: 476.65px;
  margin: 0 auto;
  width: 70.3%;
}
img[alt="Message Friends"]{
  display: block;
  height: 492px;
  margin: 0 auto;
  width: 81.68%;
}
#wireframes{
  height: 515.18px;
  background-image: url("wireframe_background.png");
  background-size: cover;
}
#wire{
  padding-top: 96px;
}
#wireframes img{
  height: 75px;
  margin: 80px 47.08% 0 47.08%;
  width: 5.85%;
}
#wireframes a{
  color: #282828;
}
#wireframes h4{
  text-align: center;
  margin: 0 auto 16px auto;
  width: 65.94%;
}
#wireframes h2{
  text-align: center;
}
#branding img{
  display: block;
  height: 492px;
  margin: 0 auto 16px auto;
  width: 76.7%;
}
#branding .body1{
  margin: 16px auto 112px auto;
  width: 66.01%;
}
#branding .body2{
  margin: 16px auto 112px auto;
  width: 66.01%;
}
#branding h4{
  margin: 32px auto 16px auto;
  text-align: center;
}
#branding h2{
  text-align: center;
}
#branding #style{
  margin: 0 auto 56px auto;
}
#branding .button{
  color: #757575;
  background: #C6EEE2;
  font-weight: bold;
}
#brandName{
  background-color: #C6EEE2;
  display: flex;
  padding: 56px 7.79%;
}
#brandName article{
  width: 50%;
}
#brandName img{
  height: 60px;
  margin-top: 28%;
  text-align: center;
  width: 83.18%;
}
#brandName .body1{
  width: 95.75%;
}
#brandName .body2{
  width: 95.75%;
}
#mood{
  align-items: center;
  background-color: #757575;
  display: flex;
}
#mood article{
  width: 50%;
}
#mood img{
  height: 400px;
  margin-left: 23.5%;
  width: 62.4%;
}
#mood h4{
  color: #FFFFFF;
}
#mood h2{
  color: #FFFFFF;
}
#mood .body1{
  color: #FFFFFF;
  width: 81.44%;
}
#mood .body1{
  color: #FFFFFF;
  width: 81.44%;
}
#logo{
  display: flex;
}
#logo article:nth-of-type(1){
  padding: 0 7%;
  width: 42%;
}
#logo img{
  height: 339px;
  margin-top: 72px;
  text-align: center;
  width: 100%;
}
#logo .body1:nth-of-type(1){
  margin-bottom: 29px;
}
#logo .body2:nth-of-type(1){
  margin-bottom: 29px;
}
#color{
  background-color: #757575;
}
#color div{
  display: flex;
}
#color article{
  text-align: center;
  width: 33%;
}
#color h4{
  color: #FFFFFF;
  text-align: center;
}
#color h2{
  color: #FFFFFF;
  text-align: center;
}
#color img{
  height: 229.43px;
  margin-bottom: 32px;
  width: 59.81%;
}
#color p{
  color: #FFFFFF;
  font-family: open-sans;
  font-size: 20px;
  line-height: 29px;
  margin: 0 auto;
  text-align: center;
  width: 73.29%;
}
#type h4{
  text-align: center;
}
#type h2{
  text-align: center;
}
#type .body1{
  margin: 0 auto 32px auto;
  text-align: center;
  width: 66.1%;
}
#type .body2{
  margin: 0 auto 32px auto;
  text-align: center;
  width: 66.1%;
}
#type img{
  display: block;
  margin: 0 auto;
  width: 58.53%;
}
#type h1{
  margin-top: 112px;
}
#deliver{
  background-image: url("Visual_Design_Background.png");
  background-size: cover;
  height: 592px;
}
#deliver .button{
  color: #282828;
  background-color: #C6EEE2;
}
#deliver h5{
  color: #FFFFFF;
  font-family: minerva-modern;
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 24px;
  margin-top: 56px;
  text-align: center;
}
#deliver h3{
  color: #FFFFFF;
  margin: 0 auto 56px auto;
  text-align: center;
  width: 66.1%;
}
#landing h4{
  text-align: center;
}
#landing h2{
  text-align: center;
}
#landing > img{
  display: block;
  height: 650px;
  margin: 0 auto 48px auto;
  width: 87.37%;
}
#landing div{
  display: flex;
}
#landing article{
  width: 33%;
}
#landing article img{
  margin-left: 33%;
  width: 9.46%;
  height: 40px;
}
.details{
  display: inline;
}
#landing .details h2{
  margin-bottom: 16px;
  margin-left: 1.89%;
}
#landing .body1{
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#landing .body2{
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#dash{
  background-color: #757575;
}
#dash h4{
  color: #FFFFFF;
  text-align: center;
}
#dash > h2{
  color: #FFFFFF;
  text-align: center;
}
#dash > img{
  display: block;
  height: 380px;
  margin: 0 auto 48px auto;
  width: 85.7%;
}
#dash div{
  display: flex;
}
#dash article{
  width: 33%;
}
#dash article img{
  margin-left: 33%;
  width: 9.46%;
  height: 40px;
}
#dash .body1{
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#dash .body2{
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#dash .details h2{
  color: #FFFFFF;
  margin-bottom: 16px;
  margin-left: 1.89%;
  text-align: center;
}
#modal h4{
  text-align: center;
}
#modal > h2{
  text-align: center;
}
#modal > img{
  display: block;
  height: 369px;
  margin: 0 auto 32px auto;
  width: 85.7%;
}
#modal div{
  display: flex;
}
#modal article{
  width: 33%;
}
#modal article img{
  margin-left: 33%;
  width: 9.46%;
  height: 40px;
}
#modal .body1{
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#modal .body2{
  text-align: center;
  margin: 0 auto;
  width: 72.1%;
}
#modal .details h2{
  margin-left: 1.89%;
  margin-bottom: 16px;
  text-align: center;
}
#conclusion{
  background-color: #C6EEE2;
  padding: 56px 4.36%;
}
#conclusion h4{
  text-align: center;
}
#conclusion h2{
  text-align: center;
}
#conclusion div{
  display: flex;
}
#conclusion article{
  width: 50%;
  margin-left: 8.88%;
}
#conclusion .body1{
  width: 98.34%;
}
#conclusion .body2{
  width: 98.34%;
}
/* Converts to mobile */
@media screen and (max-width: 600px) {
  section{
    padding: 40px 0;
  }
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
  .mobile h4{
    margin: 0 auto;
    text-align: center;
    width: 79.95%;
  }
  #mainnav{
    position: static;
    height: 56px;
  }
  #mainnav a:not(:first-child) {
    display: none;
  }
  #mainnav a.icon {
    float: right;
    display: block;
    margin: 0;
    text-align: center;
    width: 32px;
  }
  #mainnav.responsive {
    position: relative;
    height: auto;
  }
  #mainnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 8% 16px 8%;
    text-align: center;
  }
  #mainnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .home{
    margin-left: 8.17%;
  }
  #footer div{
    max-width: 267px;
    width: 64.49%;
  }
  #hello{
    max-height: 207px;
  }
  #hello h5{
    width: 170px;
    font-size: 36px;
    padding: 3vh 0 16px 50%;
  }
  #cc img:nth-of-type(1){
    display: block;
    margin: 0 auto;
    width: 79.71%
  }
  #cc img:nth-of-type(2){
    display: block;
    margin: 0 auto;
    width: 84.54%
  }
  #cc .body2{
    display: block;
    margin: 0 auto 24px auto;
    text-align: center;
    width: 79.71%;
  }
  #cc .button{
    display: block;
    margin: 0 auto;
  }
  #personal .mobile article:nth-of-type(1){
    display: flex;
    padding: 40px 0;
    vertical-align: middle;
    width: 100%;
  }
  #personal img{
    max-width: 42%;
  }
  #personal h2{
    font-size: 22px;
    margin-left: 20px;
    margin-top: 126px;
    width: 100%;
  }
  #personal .mobile article:nth-of-type(2){
    margin-left: 0;
    width: 100%;
  }
  #personal .button{
    display: block;
    margin: 24px auto 40px auto;
  }
  #intro{
    max-height: 122px;
    margin-top: 0;
    padding: 0;
  }
  #intro h5{
    font-size: 24px;
    padding: 2vh 0 0 25%;
  }
  #intro h4{
    font-size: 14px;
    padding: 0 0 0 25%;
  }
  #about .mobile{
    width: 100%;
  }
  #about h2{
    font-size: 22px;
    margin: 0 10%;
  }
  #about img{
    margin: 45px auto;
    max-width: 72.46%;
  }
  #about .body2{
    width: 79.70%;
    margin: 0 auto 29px auto;
  }
  img[alt="Hero Image"]{
    max-height: 174px;
  }
}
