body {
  padding-bottom: 5rem;
}

header {
background: url(../images/hero.png) center / cover;
height: 60vh;
justify-content: center;
text-align: center;
}

h1 {
  color: #000000(0, 0%, 100%, 0.9);
  font-weight: bold;
  border: 1px solid blue;
  margin-top: 20vh;
  margin-left: 25%;
}

.slogan {
  color: 000000(0, 0%, 100%, 0.7);
  font-weight: lighter;
  font-size: 1.6rem;
  margin-left: 25%;
}

main {
  max-width: 900px;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}



footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2.5rem;
}


@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
